.modal-types.open {
    display: none;
}

@media (min-width: 900px) {
	#prod-filter .filter li .ico:hover,  #prod-filter .filter .active .ico3{
    transform: translate(0, -50px);
}
	#prod-filter .filter li .ico1:hover{
	background:url(../img/slider/ico1-hover.png) no-repeat center top;
}
#prod-filter .filter li .ico2:hover{
	background:url(../img/slider/ico2-hover.png) no-repeat center top;
}
#prod-filter .filter li .ico3:hover,  #prod-filter .filter .active .ico3{
	background:url(../img/slider/ico3-hover.png) no-repeat center top;
}
#prod-filter .filter li .ico4:hover{
	background:url(../img/slider/ico4-hover.png) no-repeat center top;
}
#prod-filter .filter li .ico5:hover{
	background:url(../img/slider/ico5-hover.png) no-repeat center top;
}
#prod-filter .filter .ico:hover, #prod-filter .filter .active .ico{
	color:#9d2c2c;
	text-decoration: underline;
} 
.prod-filter .item:hover .tit{
    color: #9d2c2c;
}
.prod-filter .item:hover .img{transform: scale(1.1);}  
}
@media (max-width: 1900px) {
    .seo-info .info {
        width: 100%;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0
    }
    .seo-info .info .item {
        margin-bottom: 20px;
    }
    .container,
    footer .container {
        width: calc(100% - 200px);
    }
    .w-50 {
        width: 47% !important
    }
    #our-partners .reviews {
        position: relative;
        left: -30px;
    }
    #our-partners {
        background: url(../img/bg-5.jpg) no-repeat top right;
        background-size: 52% 89%;
        background-position-y: 50px;
    }
    #types-skin .slider .swiper-slide-active .info .info-block {
        left: 50%;
        margin-left: 10px;
    }
	#checkout{
		width:auto;
	}
	#checkout form{
		padding:60px 40px;
	}
	#checkout-page .basket-block{
		left:50px;
	}
	
}

@media (max-width: 1500px) {
    .container,
    footer .container {
        width: calc(100% - 90px);
    }
    .w-50 {
        width: 48% !important
    }
    #advantages-news:before {
        width: 50%
    }
    #advantages .swiper-thumbnails button {
        margin-left: 0
    }
    #advantages .swiper-thumbnails {
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    #our-partners .partners {
        left: 0;
    }
    #our-partners .nav {
        padding: 0 23px;
    }
    #menu-panel .container {
        width: 100%
    }
    #menu-panel .top {
        padding-top: 40px;
        padding-left: 80px;
    }
    #menu-panel .nav {
        padding-left: 80px;
    }
	
}

@media (max-width: 1400px) {
    .index-header {
        top: 20px;
        left: 20px;
        width: calc(100% - 40px);
    }
	
    #prod-filter .filter {
        margin-top: 100px;
    }
    .form-transform .form:before {
        display: none
    }
    #our-partners .partners .img img {
        max-width: 100%;
    }
    .container-1300 {
        width: calc(100% - 100px)
    }
    header .main-menu,
    header .phone-block,
    header .lk-block,
    header .basket-block,
    header .wishlist-block {
        margin-right: 0
    }
    header .row {
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
}

@media (max-width: 1300px) {
	#checkout-page .basket-block{
		width: calc(100% - 60px);
		left:30px;
	}
	#checkout-page .basket-item{
		width:100%;
	}
	#checkout-page .basket-item .delete{
		top:0;
		right:0;
		box-shadow: 0px 10px 10px rgba(0, 1, 3, 0.07);
	}
	#checkout {
    width: 100%;
}
.call-center {
    width: 50%;
    left: 50%;
    margin-left: -25%;
	margin-top:50px;
	margin-bottom:50px;
}
#checkout form{
	display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
	-webkit-justify-content: space-between;
	justify-content: space-between;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
	padding:60px 40px;
}
#checkout .bnt-block{
	display:block;
	width:100%;
}
#checkout .item {
    width: calc(33% - 20px);
	margin-bottom:30px
}
#checkout-page{
	padding:60px 0;
}
}
@media (max-width: 1200px) {
	#checkout-page h1{
		margin-bottom:50px;
	}
    #catalog-banner {
        background: url(../img/cat-bg.jpg) center center;
        height: auto;
        padding: 40px 0;
        margin-bottom: 70px;
    }
    .form-transform.no-transform {
        margin-bottom: 100px;
    }
    #catalog-banner .prod-filter {
        width: 100%;
        position: relative;
        bottom: 0
    }
    #catalog-banner .prod-filter .item {
        width: 30%;
        margin: 0;
    }
    header .logo a img {
        width: 150px;
    }
    header .logo a {
        margin-right: 25px;
    }
    #menu-panel .top {
        padding-top: 40px;
        padding-left: 40px;
    }
    #menu-panel .nav {
        padding-left: 40px;
    }
    .container,
    footer .container,
    .container-1300,
    .container-920 {
        width: calc(100% - 40px);
    }
	#checkout-page .basket-block{
		width: calc(100% - 40px);
		left:20px;
	}
    #prod-filter {
        padding-top: 150px;
    }
    h1 {
        font-size: 70px;
        line-height: 76px;
    }
    #prod-filter {
        background: url(../img/slider/bg.png) no-repeat top center;
    }
    #prod-filter .filter li {
        margin: 0;
    }
    .form-transform .tittle-block h2 {
        font-size: 45px;
    }
    .form-transform .form {
        width: 90%;
        margin: 0 auto
    }
    #advantages-news {
        background-size: 68%;
    }
    #advantages {
        padding-top: 320px;
    }
    #news {
        padding-top: 260px;
    }
    #advantages-news:before {
        top: 277px;
    }
    .tittle-block h2,
    #news .tittle-block h2,
    .reviews .header h2,
    #news .tittle-block h2 a {
        font-size: 31px;
    }
    #news .slider h3 {
        font-size: 21px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    #advantages .swiper-thumbnails button {
        margin-left: 0;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    #advantages .slider .swiper-container {
        margin-top: 20px;
    }
    #advantages .slider .swiper-slide {
        padding: 145px 35px 0;
    }
    #advantages .slider h3 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    #advantages .slider .swiper-container {
        height: 320px;
    }
    #our-partners {
        background-size: 60%;
    }
    #our-partners:before {
        right: 0;
        top: 66px;
        width: 72%;
    }
    #our-partners:after {
        width: 72%
    }
    #news .slider a,
    .reviews .header a {
        white-space: nowrap;
    }
    .reviews .txt .btn {
        margin-top: 40px;
    }
    .seo-info {
        margin-top: 50px;
    }
    .seo-info .container .w-50 {
        width: 100% !important
    }
    .seo-info .img {
        margin-bottom: 15px;
    }
    .reviews .slider {
        padding-top: 56px;
    }
    #our-partners .partners .swiper-container {
        padding: 75px 0 30px;
    }
    #prod-filter .item {
        width: 33%;
        margin: 0;
    }
    #prod-filter .prod-filter .flex:after {
        top: 270px
    }
    #menu-panel {
        height: auto;
    }
    #types-skin .slider .info {
        /* display:none; */
    }
    #types-skin .slider .swiper-container {
        overflow: hidden;
        padding-top: 50px;
    }
    #types-skin .slider {
        margin-top: 0;
    }
    #our-partners {
        background-size: cover;
        background-position-y: 0;
    }
    #our-partners:after {
        display: none;
    }
    .modal-types.open {
        display: -webkit-flex;
        display: flex;
    }
    #types-skin .slider .swiper-slide-active .info .info-block {
        display: none !important;
    }
    .modal-types h2 {
        margin-bottom: 15px;
        font-size: 34px;
    }
	#types-skin .slider .swiper-slide:hover {
    transform: translate(0, 0);
}
#types-skin .slider .swiper-slide-active, #types-skin .slider .swiper-slide-active:hover {
    transform: translate(0, -20px);
    z-index: 2;
}
}

@media (max-width: 900px) {
	#checkout .item {
		width:100%;
	}
	.flex-reverse{
		-webkitflex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}
    #catalog .product {
        width: 44%;
    }
    #catalog .product .info {
        padding: 20px;
    }
    #catalog .product .flex p {
        display: none;
    }
    #catalog .product .flex {
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: 15px;
    }
    #text-page h1 br {
        display: none;
    }
    #text-page .ul-num ul li,
    #text-page .ol-marker li {
        font-size: 15px;
    }
    #menu-panel .navigation-menu > li ul {
        display: none;
    }
    .ol-marker,
    .ul-num {
        width: 100%;
    }
    #text-page h1 {
        line-height: 45px;
        font-size: 40px;
    }
    #text-page p {
        margin: 25px 0 15px;
    }
    .img-100 {
        margin-bottom: 30px;
    }
    #text-page h2 {
        font-size: 31px;
    }
    #text-page h1,
    #text-page h2,
    #text-page h3,
    #text-page h4,
    #text-page h5,
    #text-page h6 {
        margin-bottom: 20px;
    }
    .m-top-70 {
        margin-top: 30px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 25px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 20px;
    }
    .footnote {
        padding: 20px;
    }
    .footnote .top {
        position: relative;
        top: -10px;
    }
    .footnote {
        margin-bottom: 40px;
    }
    .table {
        margin-top: 30px;
    }
    .table-responsive {
        width: calc(100% - 50px);
        margin-top: -58px;
    }
    .table .header {
        padding-bottom: 66px;
    }
    .table thead th {
        font-size: 12px;
        padding: 10px;
    }
    .table tbody td {
        padding: 5px 10px;
        font-size: 12px;
    }
    .table thead {
        background: #4c4140;
        border-bottom: 4px solid #9d2c2c;
    }
    .table:before {
        display: none;
    }
    #text-page .ol-marker li {
        margin-bottom: 10px;
    }
    #text-page .table .header h2 {
        font-size: 25px;
    }
    .footnote p {
        margin: -5px 0 29px !important;
    }
    #text-page .row-float .float-block {
        float: none;
        margin: 0 auto 20px;
    }
    #advantages-news {
        background-size: 50% 17%;
    }
    .modal-content .close {
        right: 20px;
        top: 0
    }
    .modal-content {
        display: block;
    }
    #our-partners .reviews {
        left: 0;
    }
    .seo-info .img:before {
        display: none;
    }
    .anim-top,
    .anim-top {
        visibility: visible !important;
        -webkit-transform: translateY(0) scale(1) !important;
        opacity: 1 !important;
        transform: translateY(0) scale(1);
        opacity: 1;
        -webkit-transition: -webkit-transform 1.2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.08s, opacity 1.2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.08s;
        transition: transform 1.2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.08s, opacity 1.2s cubic-bezier(0.6, 0.2, 0.1, 1) 0.08s;
    }
    .fadeEl {
        opacity: 1 !important;
        -webkit-transform: translateY(0) !important;
        -moz-transform: translateY(0) !important;
        -ms-transform: translateY(0) !important;
        -o-transform: translateY(0) !important;
        transform: translateY(0) !important;
    }
    .js-animation {
        visibility: visible;
        -webkit-transform: translateY(0) scale(1) !important;
        opacity: 1 !important;
        transform: translateY(0) scale(1) !important;
    }
    .logo a img {
        width: 150px
    }
    header .lk-block span {
        font-size: 0;
    }
    header .main-menu span {
        font-size: 0;
    }
    header .lk-block {
        display: none;
    }
    #prod-filter .anim-top h1,
    h1 {
        font-size: 50px;
        line-height: 55px;
        letter-spacing: 0;
    }
    #prod-filter .anim-top p {
        margin-top: 26px;
        font-size: 18px;
    }
    #prod-filter .filter {
        margin-top: 50px;
    }
    #prod-filter .filter li {
        width: 110px;
    }
    #prod-filter .filter ul {
        -webkit-justify-content: space-around;
        justify-content: space-around;
        width: 100%;
    }
    #prod-filter .filter .ico {
        padding-bottom: 50px;
    }
    #prod-filter .filter li .line .circle-block .line-bg {
        height: 63px
    }
    #prod-filter .prod-filter {
        padding-top: 102px
    }
    #prod-filter .item .img {
        height: auto;
        width: 140px;
        margin: 0 auto 15px;
    }
    #prod-filter .item .img img {
        max-width: 100%
    }
    #prod-filter .prod-filter .flex:after {
        top: 193px;
    }
    #types-skin {
        padding-top: 40px;
    }
    #prod-filter .prod-filter {
        padding-bottom: 30px
    }
    #types-skin .slider {
        position: relative;
        /* margin-top: 50px; */
    }
    #types-skin .slider .swiper-slide {
        height: 380px;
    }
    #types-skin .slider .txt {
        top: 60px;
    }
    #types-skin .slider .txt a {
        margin-bottom: 20px;
    }
    .form-transform .form {
        padding: 40px;
        height: auto;
    }
    .form-transform .tit {
        font-size: 19px;
        margin-top: 0;
    }
    .form-transform p {
        font-size: 14px;
    }
    .w-50 {
        width: 100% !important
    }
    #advantages {
        padding-top: 260px;
    }
    #advantages-news:before {
        width: 50%;
        right: 0;
        left: auto;
        top: 278px;
    }
    #advantages .tittle-block {
        margin-bottom: 33px
    }
    #advantages .slider .swiper-slide {
        padding-top: 155px
    }
    #news {
        padding-top: 70px;
    }
    #news .tittle-block {
        margin-bottom: 33px;
    }
    #our-partners {
        padding-top: 20px;
    }
    #our-partners:before {
        width: 63%;
        top: 34px;
    }
    #our-partners .partners .swiper-container {
        padding: 35px 0 30px;
    }
    #our-partners .partners .swiper-slide {
        padding: 0;
        margin: 0 auto
    }
    .reviews .header {
        margin-bottom: 30px
    }
    .seo-info .txt h2 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    footer .top {
        display: none
    }
    #menu-panel .top {
        padding: 20px;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .search {
        width: 100%;
        height: 40px;
        margin-bottom: 0;
        margin-left: 0;
        margin-top: 20px;
    }
    #menu-panel .nav {
        padding-left: 40px;
        width: 100%;
        padding: 0 20px 0;
    }
    #menu-panel .nav .left {
        width: 100%
    }
    
    #menu-panel .nav .left ul,
    #menu-panel .nav ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    #menu-panel .nav ul{
        -webkit-justify-content: center;
        justify-content: center;
    }
    #menu-panel .nav li {
        margin-bottom: 0;
    }
    #menu-panel .nav .right {
        width: 100%;
        margin-top: 30px;
    }
    #menu-panel .navigation-menu > li {
        width: 30%;
        display: block;
        margin-bottom: 10px;
    }
    #menu-panel {
        min-height: 530px;
    }
    #menu-panel .navigation-menu > li.has-submenu .line {
        display: none;
    }
    #menu-panel .navigation-menu > li > a {
        color: #9e2c2c;
        font-size: 17px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        display: inline-block;
        padding-right: 8px;
    }
    #menu-panel .navigation-menu .submenu li {
        margin-bottom: 10px
    }
    #menu-panel .navigation-menu .submenu li a {
        font-size: 15px;
        display: block;
    }
    #menu-panel .navigation-menu .submenu li {
        width: 100%;
    }
    .img img {
        max-width: 100%;
    }
	.prod-filter .item .img {
    height: 79px;
    margin-bottom: 13px;
}
.prod-filter .item .img img {
        max-height: 100%
    }
	.form-flex{
		    -webkit-justify-content: flex-start;
    justify-content: flex-start;
	}
	.form-flex .form-group{margin-right:30px;}
}
@media (max-width: 800px) {
	.call-center{
	width:90%;
	margin-left:-45%
}
}
@media (max-width: 700px) {
	#checkout-page .basket-item .img {
    width: 100%;
    margin-right: 0;
    margin-bottom:25px;
    text-align: center;
}
.kol{
	margin-top:15px;}
	#checkout-page .basket-item{padding:40px 30px}
	#checkout-page .basket-item .img img {
    max-width: 80%;}
#checkout-page .basket-item .tit {
    width: 100%;
    padding-right: 0;
    text-align: center;
}
#checkout-page .basket-item .r-block{width:100%;     justify-content: center;     -webkit-justify-content: center;}
	#checkout .tit h2{
		font-size: 25px;
	}
	#checkout .tit {
    padding-bottom: 24px;
    margin-bottom: 20px;
}
form .form-group label{
	margin-bottom:9px;
}
#checkout .form-group {
    margin-bottom: 20px;
}

    .prod-filter .flex {
        margin-top: 0
    }
    #catalog .product .img {
        width: 90%;
        margin: 0 auto;
    }
    .form-transform.no-transform {
        margin-bottom: 60px
    }
    #catalog .product {
        width: 100%;
        margin-bottom: 50px;
        margin-top: 0 !important;
    }
    #catalog-banner .prod-filter .item {
        width: 50%;
        margin-top: 33px;
    }
    .prod-filter .item .img {
        height: 79px;
        margin-bottom: 13px;
    }
    .prod-filter .item .img img {
        max-height: 100%
    }
    .language-block {
        display: none;
    }
    .index-header {
        top: 10px;
        left: 10px;
        width: calc(100% - 20px);
    }
    .container,
    footer .container {
        width: calc(100% - 20px);
    }
    header .logo a img {
        width: 115px;
    }
    header .phone-block a {
        text-decoration: none;
        font-size: 13px;
    }
    #prod-filter {
        padding-top: 115px;
        padding-bottom: 100px;
    }
    #prod-filter .anim-top h1,
    h1 {
        font-size: 35px;
        line-height: 42px;
    }
    center {
        padding: 0 15px
    }
    #prod-filter .anim-top p {
        margin-top: 11px;
        font-size: 15px;
    }
    #prod-filter .filter {
        display: none;
    }
    #menu-panel .navigation-menu > li {
        width: 100%;
    }
    .form-transform .form {
        padding: 30px;
    }
    .form-transform .tittle-block h2 {
        font-size: 34px;
    }
    .form-transform .tit {
        font-size: 18px;
    }
    .form-transform .form-group {
        margin-top: 30px;
    }
    .form-transform button {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
    #advantages-news {
        background-size: 76%;
        padding-bottom: 30px;
    }
    #our-partners .partners .swiper-slide .item {
        padding: 30px;
    }
    #our-partners .nav {
        padding: 0;
    }
    #advantages .slider .swiper-slide {
        padding-top: 130px;
    }
    .tittle-block h2,
    #news .tittle-block h2,
    .reviews .header h2,
    #news .tittle-block h2 a,
    h2 {
        font-size: 24px;
    }
    #news {
        padding-top: 50px;
    }
    #our-partners:before {
        display: none;
    }
    #advantages-news:before {
        display: none;
    }
    .reviews .slider {
        padding-top: 40px;
    }
    .reviews .header h2 {
        font-size: 20px;
    }
    #advantages {
        padding-top: 285px;
    }
    #news .slider h3 {
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    #news .slider .img {
        margin-bottom: 20px;
    }
    .reviews .header {
        margin-bottom: 26px;
    }
    .reviews .txt {
        background: rgba(157, 44, 44, 0.1);
        padding: 25px;
    }
    #our-partners .nav {
        display: none
    }
    #our-partners:after {
        display: none;
    }
    #our-partners {
        padding-bottom: 30px;
    }
    .seo-info {
        margin-top: 10px;
    }
    .seo-info .txt h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    body,
    p {
        font-size: 15px
    }
    .seo-info .txt p {
        margin-bottom: 15px
    }
    .seo-info {
        padding-bottom: 60px
    }
    #menu-panel .nav .left li {
        margin-bottom: 10px;
        margin-right: 15px;
    }
    #menu-panel .nav .left ul,
    #menu-panel .nav ul {
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
    }
    .reviews .slider {
        padding-top: 0;
    }
    .container-1300 {
        width: calc(100% - 20px);
    }
    .container-920 {
        width: 100%;
    }
    #text-page {
        padding: 35px 0;
    }
    .m-top-70 {
        margin-top: 20px;
    }
    #text-page h1 {
        line-height: 25px;
        font-size: 21px;
    }
    #text-page h2 {
        line-height: 20px;
        font-size: 19px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 17px;
    }
    h5 {
        font-size: 17px;
    }
    h6 {
        font-size: 20px;
    }
    .footnote p {
        font-size: 18px;
        font-style: italic;
        line-height: 25px;
    }
    #text-page .table .header h2 {
        font-size: 18px;
    }
    .modal .modal-content {
        width: 80%
    }
}

@media (max-width: 480px) {
    .logo-menu {
        margin-bottom: 10px;
        width: 100%;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    header.inside-header {
        padding: 10px 0;
    }
    header .main-menu .ico {
        margin-right: 0;
    }
    header .wishlist-block {
        display: none
    }
	#advantages-news {
    background: transparent;
}
#checkout{margin-top:20px;}
#checkout form{padding:30px;}
.call-center{display:none}
}
@media (max-width: 480px) {
	.modal .modal-content {
    width: 100%;
}
#advantages .swiper-thumbnails button{width:100%}
#advantages .swiper-thumbnails button br{display:none}
#checkout-page h1 {
    margin-bottom: 30px;
    font-size: 34px;
}
#checkout-page {
    padding: 40px 0;
}
}
@media (max-width: 380px) {
    #menu-panel .navigation-menu > li {
        width: 100%
    }
    header .main-menu .ico {
        margin-right: 0;
        margin-left: 20px;
    }
    #menu-panel .navigation-menu .submenu li a {
        display: block;
    }
    #menu-hide span {
        font-size: 0;
    }
    #menu-hide .ico {
        margin-right: 0;
    }
    .logo {
        width: 50%;
    }
}